

a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

label {
    font-family: 'Roboto', sans-serif;
    width: 10rem !important;
    font-size: 25px !important;
    font-weight: 500;
}


body {
    overflow-x: hidden;
    justify-content: center;
    font-family: 'Roboto', sans-serif !important;
}

input {
    border-radius: 20px !important;
    border: none;
}

.container-center {
    margin-top: 15vh !important;
}

.fa-solid {
    color: #fff !important;
}

.btn {
    color: #fff !important;
    background-color: #9B6CD1 !important;
    border: none;
    width: 80%;
    border-radius: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.btn-login {
    width: auto;
    background-color: #503074 !important;
    margin-top: 15px;
    padding: 12px;
    border: none;
}

.btn-secondary {
    background-color: #503074 !important;
    width: 40%;
}


.text-center {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff !important;
}

.card {
    background-color: #9B6CD1 !important;
}

.card .row {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

div.row {
    display: flex !important;
    justify-content: center !important; 
}

.card img {
    max-width: 100%; /* Asegúrate de que la imagen no supere el tamaño de su contenedor */
}

.navbar {
    background-color: #9B6CD1 !important;
}

.menu-img {
    display: flex;
    justify-content: center !important;
    width: 36%;
    
}

.text-violet {
    color: #503074 !important;
}

.w-0 {
    width: 40vw !important;
}

.navbar-text {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.mr-3 {
    margin-right: 10px;
    margin-bottom: 0px;
}

/* RESERVAS */
.img-container {
    background-image: url("../img/menu-reserva.jpg");
    /* Establece el tamaño de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw !important; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 300px; /* Ajusta la altura según tus necesidades */
    
}

.container-imagen {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    margin-bottom: 20px !important;
}

.img-title {
    height: 30vh;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px;
} 

.title-img-container{
    color: #9B6CD1;
    font-weight: 900;
    text-transform: uppercase;
}

.form-reservas {
    width: 60vw;
    display: flex; 
    
}

.form-label {
    margin-bottom: 0px !important;
}


.container-form {
    background-color: #9b6cd1;
    width: 70vw;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Añadir sombra al contenedor del formulario */
}

.title-form-container {
    color: #ffffff;
    font-weight: 900;
}

.label-reserva {
    font-size: 18px !important; /* Puedes ajustar el tamaño según tus preferencias */
    font-weight: 400 !important; /* Otras propiedades de estilo que desees agregar */
    width: 70% !important;
}

.input-reserva, .form-select {
    width: 95% !important;
    background-color: #b083e3 !important;
    color: #503074;
    border: none;
}

/* HOSPEDAJES */
.img-container-hospedaje{
    background-image: url("../img/menu-hospedaje.jpg");
    /* Establece el tamaño de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw !important; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 300px; /* Ajusta la altura según tus necesidades */
}

/* ACTIVIDADES */
.lh-normal {
    line-height: normal;
}

.img-container-actividad {
    background-image: url("../img/menu-actividad.jpg");
    /* Establece el tamaño de la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw !important; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 300px; /* Ajusta la altura según tus necesidades */
}

.btn-misma-altura {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}